<!DOCTYPE html>
<html>
<head><title>{{.Title}}</title></head>
<body>
<h1>{{.Title}}</h1>
<script>
  const items = {{.Items}};
  items.forEach(item => {
    console.log(item.Name);
  });
</script>
</body>
</html>
